<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>2</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fasd</td>
        <td>fasd</td>
        <td>fasd</td>
      </tr>
      <tr>
        <td>fasd</td>
        <td>fasd</td>
        <td>fasd</td>
      </tr>
      <tr>
        <td>fasd</td>
        <td>fasd</td>
        <td>fasd</td>
      </tr>
      <tr>
        <td>fasd</td>
        <td>fasd</td>
        <td>fasd</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="totalItems" [itemsPerPage]="5" [(ngModel)]="currentPage" previousText="&lsaquo;" nextText="&rsaquo;" [maxSize]="5"></pagination>
  </div>
</div>

<button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: {{currentPage}}</button>